# Django & Python
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Database & Environment
db.sqlite3
.env
.venv/
venv/
ENV/

# Media & Static collection (MUST BE IGNORED)
staticfiles/
media/

# IDEs & System
.vscode/
.idea/
.DS_Store