{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="{% static 'CSS/common/header.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'HomePage' %}" class="active">Home</a></li>
                <li><a href="#">Trees</a></li>
                <li><a href="#">Map</a></li>
                <li><a href="{% url 'blog_list' %}">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="menu-toggle" id="mobile-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    <script src="{% static 'JS/common/header.js' %}"></script>
</body>
</html>
