{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/Request/dashboard.css' %}">
    <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>
    {% include "Common/header.html" %}
    <div class="dashboard-wrapper">
        <aside class="sidebar">
            <ul>
                <li class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                    <a href="{% url 'dashboard' %}"><i data-feather="grid"></i> Dashboard</a>
                </li>
                <li class="{% if request.resolver_match.url_name == 'request_list' %}active{% endif %}">
                    <a href="{% url 'request_list' %}"><i data-feather="file-text"></i> Tree Requests</a>
                </li>
                <li><a href="#"><i data-feather="tree"></i> Added Trees</a></li>
                <li class="{% if request.resolver_match.url_name == 'donation_history' %}active{% endif %}">
                    <a href="{% url 'donation_history_dashboard' %}">
                        <i data-feather="file-text"></i> Donation History
                    </a>
                </li>
                <li><a href="{% url 'profile_view' user.username %}"><i data-feather="user"></i> Profile</a></li>
            </ul>
        </aside>

        <main class="dashboard-content">
            {% block content %}{% endblock %}
        </main>
    </div>

    {% include "Common/footer.html" %}
    <script>feather.replace();</script>
</body>

</html>